body {
    display: flex;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2a44;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: baseline;
    padding-left: 1em;
    min-width: 350px;
    min-height: 250px;
    color: #1f2a44;
    box-shadow: 2px 2px 4px 2px black;
}

form>button{
    background-color:#007bff;
    width: 8em;
    height: 2em;
    color: white;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 0 0 1px 1px black;
}
form>button:hover{
    background-color:#0069d9 ;
}